/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [course id]
      ,[course name]
      ,[Description]
      ,[Price]
      ,[materials]
      ,[username]
      ,[role]
  FROM [NeedyNest].[dbo].[Course]