CREATE TABLE [NeedyNest].[dbo].[Course] (
    [course id] INT PRIMARY KEY,
    [course name] VARCHAR(255) NOT NULL,
    [Description] VARCHAR(MAX),
    [Price] DECIMAL(10,2),
    [materials] VARCHAR(MAX),
    [username] VARCHAR(50),       -- New column
    [role] VARCHAR(50)            -- New column
);