/****** Script for SelectTopNRows command from SSMS  ******/

  CREATE TABLE [NeedyNest].[dbo].[Course] (
    [course id] INT IDENTITY(1,1) PRIMARY KEY,
    [course name] NVARCHAR(255) NOT NULL,
    [Description] NVARCHAR(MAX) NULL,
    [Price] DECIMAL(10,2) NOT NULL,
    [materials] NVARCHAR(MAX) NULL,
    [username] NVARCHAR(255) NOT NULL,
    [role] NVARCHAR(50) NOT NULL
);